* {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

html, body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
  overscroll-behavior: none;
  margin: 0
}
